<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.AdminInfoDao">

	<select id="selectAmdin" resultType="pojo.AdminInfo">
	    select * from admininfo where loginName=#{loginName} and password=#{password}
	</select>
	<update id="updatePassword">
		update admininfo set password=#{password} where id=#{id}
	</update>
</mapper>